USE [login_tp]
GO
/****** Object:  User [alumno]    Script Date: 13/8/2026 08:03:16 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 13/8/2026 08:03:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[nombre] [varchar](50) NOT NULL,
	[nombreUsuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[tipoUsuario] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
